{{ partial "header.html" . }}
  <h1>Hello from Material Design Lite!</h1>
  <h2>Hello from Material Design Lite!</h2>
  <h3>Hello from Material Design Lite!</h3>
  <h4>Hello from Material Design Lite!</h4>
  <h5>Hello from Material Design Lite!</h5>
  <h6>Hello from Material Design Lite!</h6>
  <p>
    <i class="material-icons">face</i>
    <i class="material-icons">g translate</i>
    Look, <a href="https://design.google.com/icons/" target="_blank">Material Icons!</a>
  </p>
{{ partial "footer.html" . }}
